<!DOCTYPE HTML>
<html>
<head>
    <title>how old are you</title>
    <link rel="stylesheet" href="/ui/semantic.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/webupload/webuploader.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div class="ui top attached menu">
    <div class="item">
        <h1>How old are you</h1>
    </div>
    <a class="item upload">
        上传
    </a>
    <a class="item click-here">
        千万不要点
    </a>
</div>

<div class="ui bottom attached segment">
    <div class="ui container">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="ui four cards">
                    <div v-repeat="photo in photos" class="ui card animated bounceInDown" v-on="click: openPhoto(photo)"
                         style="animation-delay: {{$index*0.2}}s">
                        <div class="content">
                            <div class="right floated meta">{{getDate(photo.createdAt)}}</div>
                            <img class="ui avatar image" src="{{photo.avatar}}"> {{photo.name}}
                        </div>
                        <div class="image">
                            <img src="{{photo.file.url}}">
                        </div>
                        <div class="content">
                            <span class="right floated">
                              <i class="heart outline like icon"></i>
                              {{photo.likeCount}}
                            </span>
                            <i class="comment icon"></i>
                            {{photo.commentCount}}
                        </div>
                        <div class="extra content">
                            <div class="ui large transparent left icon input">
                                <i class="heart outline icon"></i>
                                <input type="text" placeholder="评论……">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column border-left">
                <div class="ui comments">
                    <h3 class="ui dividing header">实时匿名聊天</h3>
                    <div class="comment-content">
                        <div v-repeat="comments" class="comment animated fadeInUp" style="animation-delay: {{$index*0.2}}s">
                            <a class="avatar">
                                <img src="{{avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">{{name}}</a>
                                <div class="metadata">
                                    <span class="date">{{time}}</span>
                                </div>
                                <div class="text">
                                    {{content}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea v-on="keyup: addByKey" style="height: 80px;min-height: 0;" v-model="commentText"
                                      placeholder="control+回车 发送"></textarea>
                        </div>
                        <div id="allBtn" v-on="click: add" class="ui blue labeled submit icon button mini">
                            <i class="icon edit"></i>来一发
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui modal small" id="showPhoto">
    <div class="header">上传一张吧</div>
    <div class="image content" id="uploader">
        <div class="image-preview">
            <img src="http://ac-o016tc9c.clouddn.com/9db794faf4b3865c.jpg" class="image">
        </div>

        <div class="description">
            <table class="ui celled table mini">
                <thead>
                <tr>
                    <th colspan="2" style="text-align: center">检测结果</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>性别</td>
                    <td class="gender">女</td>
                </tr>
                <tr>
                    <td>年龄</td>
                    <td class="age">11</td>
                </tr>
                <tr>
                    <td>微笑指数</td>
                    <td class="smile">53.1081</td>
                </tr>
                </tbody>
            </table>

            <div id="container">
                <div class="queueList">
                    <div id="dndArea" class="placeholder">
                        <div id="filePicker"></div>
                        <p class="drag-past">将照片拖到这里或截图粘贴到这里</p>
                    </div>
                </div>
            </div>

            <div class="statusBar"></div>
            <button class="positive ui button upload-analyze">上传并分析图片</button>

        </div>
    </div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a href="http://food.tuhuangzhe.com" target="_blank" class="item">
        <i class="home icon"></i>
        果果的烘焙
    </a>
</div>

<script src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/ui/semantic.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/webupload/webuploader.js"></script>
<script src="/js/upload.js"></script>
<script src="/js/index.js"></script>

</body>
</html>
