<!DOCTYPE HTML>
<html>
<head>
    <title>how old are you</title>
    <link rel="stylesheet" href="/ui/semantic.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/webupload/webuploader.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div class="ui top attached menu">
    <div class="item">
        <h1>How old are you</h1>
    </div>
    <a class="item upload">
        上传
    </a>
    <a class="item click-here">
        千万不要点
    </a>
</div>
<div class="ui bottom attached segment">
    <div class="ui container">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="ui four cards">
                    <% for(var i = 0;i < 5;i++){ %>
                    <div class="ui card animated bounceInDown" style="animation-delay: <%= i * 0.2 %>s">
                        <div class="content">
                            <div class="right floated meta">14h</div>
                            <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg"> Elliot
                        </div>
                        <div class="image">
                            <img src="http://semantic-ui.com/images/wireframe/image.png">
                        </div>
                        <div class="content">
                            <span class="right floated">
                              <i class="heart outline like icon"></i>
                              17
                            </span>
                            <i class="comment icon"></i>
                            3
                        </div>
                        <div class="extra content">
                            <div class="ui large transparent left icon input">
                                <i class="heart outline icon"></i>
                                <input type="text" placeholder="评论……">
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="four wide column border-left">
                <div class="ui comments">
                    <h3 class="ui dividing header">实时匿名聊天</h3>
                    <div class="comment-content">
                        <div v-repeat="comments" class="comment animated fadeInUp">
                            <a class="avatar">
                                <img src="{{avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">{{name}}</a>
                                <div class="metadata">
                                    <span class="date">{{time}}</span>
                                </div>
                                <div class="text">
                                    {{content}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea style="height: 80px;min-height: 0;" v-model="commentText"></textarea>
                        </div>
                        <div id="allBtn" v-on="click: add" class="ui blue labeled submit icon button mini">
                            <i class="icon edit"></i>来一发
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui modal small">
    <div class="header">上传一张吧</div>
    <div class="image content">
        <img src="http://feeloc09.u.qiniudn.com/1385471521252/1385471521252.jpg?imageView/2/w/200" class="image">

        <div class="description">
            <table class="ui celled table mini">
                <thead>
                <tr>
                    <th colspan="2" style="text-align: center">检测结果</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>性别</td>
                    <td>男</td>
                </tr>
                <tr>
                    <td>年龄</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>微笑指数</td>
                    <td>90</td>
                </tr>
                </tbody>
            </table>

            <div id="container">
                <div id="uploader">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div id="filePicker"></div>
                            <p>或将照片拖到这里，单次最多可选300张</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a href="http://food.tuhuangzhe.com" target="_blank" class="item">
        <i class="home icon"></i>
        果果的烘焙
    </a>
</div>

<script src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
<script src="http://vuejs.org/js/vue.min.js"></script>
<script src="/ui/semantic.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/webupload/webuploader.js"></script>
<script src="/js/upload.js"></script>
<script src="/js/index.js"></script>

</body>
</html>
